.headline{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
}
.title{
    color: deepskyblue;
    flex: 1;
    font-size: 32px;
}
.subtitle{
    color: dimgray;
    font-size: 48px;
}
.content-container{
 margin-top: 4rem;
 width: min(70%, 800px);
 margin-inline: auto;
 color: rgb(73, 72, 72);
}
.list-item{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    color: rgb(73, 72, 72);
}
.list-item h2 {
    color: deepskyblue;
}
.list-item,.content-item {
    padding: 1em;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    background-color: #F8F8F8;
}
img{
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.image-item{
    padding: 1em;
    border-radius: 50%;
}
